.login-container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #ffe645 0%, #e2aa);
    position: relative;
    .logo {
        font-size: 70px;
        font-weight: bold;
        font-family: 'Creepster', cursive;
        letter-spacing: 10px;
        position: absolute;
        top: 50px;
        right: 50px;
    }
    .desc {
        font-size: 23px;
        font-family: 'Aladin', cursive;
        letter-spacing: 5px;
        position: absolute;
        top: 160px;
        right: 50px;
        text-align: right;
        width: 800px;
    }
    .film {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 600px;
        height: 100vh;
    }
    .login-form{
        width: 500px;
        height: 300px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        bottom: 50px;
        right: 50px;
        box-shadow: 5px 5px 20px #383838;
    }
    .form-group {
        margin-top: 20px;
    }
    label {
        font-weight: bold;
    }
    .btn-container {
        .btn {
            margin-top: 30px;
        }
        .error{
            position: absolute;
            top: 250px;
            right: 10px;
            color: red;
        }
    }

}